.container{
    width: 100%;
    height: 560px;
    border-radius: 12px;
    background-color: #D87D4A;
    display: flex;
    align-items: center;
   
    .imgcont{
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        img{
       width: 410px;
      
        }
    }
    .textcont{
        width: 339px;
        height: 349px;
        text-align: start;
       
        display: flex;
        flex-direction: column;
        gap: 20px;
        h1{
            color: white;
            font-size: 3em;
            width: 261px;
        }
        p{
            color: white;
            font-size: 15px;

        }
        button{
            width: 160px;
            height: 48px;
        
        }
    }
}
@media (max-width:1025px) {
    .container{
        display: flex;
        flex-direction: column;
        height: 720px;
        .imgcont{

            display: flex;
            justify-content: center;
            align-items: center;
            height: 300px;
            img{
                width: 197px;
            
            }
        }
        .need{
            display: none;
        }
        .textcont{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            text-align: center;
            gap: 20px;
        }
        h1,p{
            margin: 0;
            padding: 0;
        }
    }
}