.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    
    z-index: 1000; /* Above other elements */
  
  }
  
  .modal-content {
    top: 100px;
   left: 50%;
   transform: translate(-50%,0);
    position: absolute;
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    width: 90%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
    height: 400px;
  }
  
  .modal-title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  
  .modal-body {
    margin-bottom: 20px;
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  