:root {
        --backclr: #F1F1F1,
        --herobck:#0E0E0E,
        --stoke:#979797,
}

body {
    font-family: 'manrope';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;

}