.prodpage {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 6%;
    padding-right: 6%;
    box-sizing: border-box;

    background-color: rgba(255, 255, 255, 0.589);
    
    .prodpage .category:not(.no-style) {
     
        padding: 0;
      }
      
    #revercediv {
        display: flex;
        flex-direction: row-reverse;
    }

    .innerprodpage {
        display: flex;
        text-align: start;
        padding-top: 60px;
        gap:100px;
        box-sizing: border-box;

        .imgside {
            width: 50%;
       
            background-color:#F2F2F2;
              padding-top: 100px;
              padding-bottom: 100px;
              box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 12px;
            

            img {
                width: 69%;
                display: block;
            
            }
        }

        .textside {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;

            h3 {
                color: #D87D4A;
            }

            h1 {
                font-size: 3em;
                margin: 0;
                text-transform: uppercase;
            }

            p {
                color: gray;
            }
        }
    }
}

@media (max-width:1025px) {
    .prodpage {
        display: flex;
        flex-direction: column;
        gap: 100px;

        #revercediv {
            display: flex;
            flex-direction: column;
        }

        .innerprodpage {
            display: flex;
            flex-direction: column;

        }

        .innerprodpage,
        #revercediv {
            width: 100%;
            gap: 0;

            span {
                width: 100%;
                display: flex;
                justify-content: center;
            }

            .imgside {
             
                display: flex;
                justify-content: center;
                height: 352px;
                align-items: center;

                img {
                    width: 200px;
                    height: 250px;

                }
            }

            .imgside,
            .textside {
                width: 100%;

                h1,
                p {
                    margin: 0;
                    padding: 0;
                }


            }

            .textside {
                text-align: center;

            }

        }
    }
}