main {
    .two{
       max-height: 1300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 120px;
       
        margin-top: 100px;
        padding-bottom: 80px;
        box-sizing: border-box;
    }
    .threeimage{
        width: 100%;
        display: flex;
        flex-direction: column;
         gap: 20px;
       .both{
        display: flex;
        flex-direction: column;
        
        .images{
            width: 100%;
            display: flex;
            justify-content: space-between;
              gap: 30px;
            box-sizing: border-box;
            .innerimage{
                width: calc(100%/3);
                  img{
                    width: 100%;
                  }
            }
            div{
              
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
             

            }
          
        
        }
       }
       .maylike{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            text-transform: uppercase;
        }
       }
    }
    .featbox {
        display: flex;
        justify-content: space-between;

        .features {
            width: 50%;

            p {
                font-size: 0.9em;
                color: gray;
            }

            h1 {
                text-transform: uppercase;

            }
        }

        .inbox {
            width: 50%;
            padding-left: 140px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            div {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 15px;

                span {
                    color: #D87D4A;
                }

                p {
                    color: gray;
                }
            }

            h1 {
                text-transform: uppercase;

            }
        }
    }

    .product {
        display: flex;
        text-align: start;
        padding-top: 60px;
        gap: 100px;
        box-sizing: border-box;

        .rightside {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;

            h4 {
                font-weight: 800;
                margin: 0;
                padding: 0;
            }


            h1 {
                font-size: 3em;
                margin: 0;
                text-transform: uppercase;
            }

            p {
                color: gray;
            }
        }

        .leftside {
            width: 50%;

            background-color: #F2F2F2;
            padding-top: 100px;
            padding-bottom: 100px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 12px;


            img {
                width: 69%;
                display: block;

            }
        }
    }

    .ImageContainer {

        display: flex;
        justify-content: space-between;
        align-items: center;

        box-sizing: border-box;
        gap: 20px;

        .TwoImage {
            width: auto;
            width: 40%;
            display: flex;
            flex-direction: column;
            gap: 50px;
            padding: 0;
            margin: 0;



            box-sizing: border-box;


            justify-content: space-between;

            img {

                border-radius: 12px;

                display: block;

            }
        }

        .OneImage {
            width: 60%;

            img {
                border-radius: 12px;
                display: block;
                width: 100%;

            }
        }
    }
    .threeimage{
        display: flex;

    }
}

@media (max-width:1025px) {
    main {
  
        .product {
            display: flex;
            flex-direction: column;
            gap: 100px;




            .leftside {

                display: flex;
                justify-content: center;
                height: 352px;
                align-items: center;

                img {
                    width: 200px;
                    height: 250px;

                }
            }

            .leftside,
            .rightside {
                width: 100%;

                h1,
                p {
                    margin: 0;
                    padding: 0;
                }


            }

            .rightside {

                .span {
                    width: 100%;
                    justify-content: center;
                }

                text-align: center;
            }


        }
    }
}

@media (max-width:1025px) {

    main {
      
        .ImageContainer {
            display: flex;
            flex-direction: column;

            .TwoImage {
                gap: 20px;
            }

            .OneImage,
            .TwoImage {
                width: 100%;
            }
        }

        .featbox {

            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .features {
                width: 100%;
            }

            .inbox {
                width: 50%;
                padding: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

}

@media (max-width:769px) {
    main {
    .two{
     display: fle;
   
       span{
       
       }
    }
        .threeimage{
         .both{
    
            
         .images{
            width: 100%;
            display: flex;
              flex-direction: column;
              align-items: center;
         
              .innerimage{
                display: flex;
                width: 100%;
             .inner{
                width: 100%;
                background-color:#F2F2F2;
                
                img{
                    width: calc(100%/3);
                }

             }
              }
         }
         }
          
        }
        .featbox {
            .inbox {

                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
}